table {
	width: 100%;
}

.table-container {
	max-height: 700px;
	max-width: calc(100vw - 200px);
	overflow: auto;
}

.mat-mdc-form-field {
	font-size: 14px;
	width: 75%;
	text-align: center;
}

td,
th {
	width: 25%;
}

.mat-mdc-row .mat-mdc-cell {
	border-bottom: 1px solid transparent;
	border-top: 1px solid transparent;
	cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
	border-color: currentColor;
}

tr.example-detail-row {
	height: 0;
}

.row td {
	border-bottom-width: 0;
}

.detail {
	display: flex;
	flex-direction: column;
}

.diagram {
	min-width: 80px;
	padding: 8px;
	margin: 8px 0;
	font-weight: lighter;
	border: 2px solid black;
}

.title {
	font-weight: bold;
	font-size: 40px;
	line-height: normal;
}

.description {
	padding: 16px;
}

.description-attribution {
	opacity: 0.5;
}

.icon-button {
	float: left;
	margin-right: 5.rem;
	font-size: 2rem;
}