<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

	<mat-form-field class="full-width" appearance="outline">
		<mat-label>Felhasználónév</mat-label>
		<input type="text" matInput formControlName="name" required>
		@if (name!.invalid && (name!.dirty || !name!.touched)) {
			<mat-error>Név nélkül nem tudsz belépni!</mat-error>
		}
		@if (name!.invalid && name!.touched) {
			<mat-error>Hoppá, ne hagyjuk uresen!</mat-error>
		}
	</mat-form-field>

	<mat-form-field class="full-width" appearance="outline">
		<mat-label>Email</mat-label>
		<input type="email" matInput formControlName="email">
		@if (email!.invalid) {
			<mat-error>Please enter a valid email address</mat-error>
		}
		@if (email!.dirty || email!.touched) {
			<mat-error>Email is <strong>required</strong></mat-error>
		}
	</mat-form-field>

	<mat-form-field class="full-width" appearance="outline">
		<mat-label>Jelszó</mat-label>
		<input type="password" matInput formControlName="password" required>
		@if (password!.invalid && (password!.dirty || !password!.touched)) {
			<mat-error>Jelszó nélkül nem tudsz belépni!</mat-error>
		}
		@if (password!.invalid && password!.touched) {
			<mat-error>Hoppá, ne hagyjuk uresen!</mat-error>
		}
	</mat-form-field>

	@if (errorMessage) {
		<mat-error>{{ errorMessage }}</mat-error>
	}
	<button type="submit" mat-flat-button>Regisztráció</button>

	<div>
		<a routerLink="/login">Már van fiókod?</a>
	</div>

</form>

<!-- 
	resources
	https://www.youtube.com/watch?v=586O934xrhQ
	https://www.youtube.com/watch?v=0ihoworuX4o
 -->