<mat-toolbar color="primary">
	<a mat-button routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
	<a mat-button routerLink="/torrents" routerLinkActive="active" ariaCurrentWhenActive="page">Torrentek</a>
	<a mat-button routerLink="/upload" routerLinkActive="active" ariaCurrentWhenActive="page">Feltöltés</a>
	<span class="toolbar-spacer"></span>
	<a mat-flat-button routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Belépés</a>
</mat-toolbar>
