<mat-sidenav-container class="sidenav-container">
	<mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
		[mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
		<mat-toolbar>Menu</mat-toolbar>
		<mat-nav-list>
			<mat-divider></mat-divider>
			<a mat-list-item routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
			<a mat-list-item routerLink="/torrents" routerLinkActive="active" ariaCurrentWhenActive="page">Torrentek</a>
			<mat-divider></mat-divider>
			@if (authService.currentUserSig() == null) {
				<a mat-list-item routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Belépés</a>
			}
			@if (authService.currentUserSig()) {
				<a mat-list-item (click)="logout()" routerLinkActive="active" ariaCurrentWhenActive="page">Kilépés</a>
				<div class="username"> Üdv nálunk {{ authService.currentUserSig()?.username }}</div>
			}
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content>
		<mat-toolbar color="primary">
			@if (isHandset$ | async) {
			<button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
				<mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
			</button>
			}
			<span>torrent-project</span>
		</mat-toolbar>

		<!-- Add Content Here -->
		<router-outlet />

	</mat-sidenav-content>
</mat-sidenav-container>